// Footer
footer.cs-footer.bg-dark.pt-5.pt-md-6
  .container.pt-3.pt-md-0
    .row.mb-4
      .col-md-7.mb-3
        .d-sm-flex.justify-content-between
          .cs-widget.cs-widget-light.pb-1.mb-4
            h4.cs-widget-title Popular categories
            ul
              li: a(href='#').cs-widget-link Digital design
              li: a(href='#').cs-widget-link Brand strategy
              li: a(href='#').cs-widget-link Project management
              li: a(href='#').cs-widget-link Business
              li: a(href='#').cs-widget-link Technology
              li: a(href='#').cs-widget-link Travel &amp; Vacation
          .cs-widget.cs-widget-light.pb-1.mb-4
            h4.cs-widget-title Social media
            ul
              li: a(href='#').cs-widget-link Facebook
              li: a(href='#').cs-widget-link Twitter
              li: a(href='#').cs-widget-link Tumblr
              li: a(href='#').cs-widget-link Medium
              li: a(href='#').cs-widget-link YouTube
          .cs-widget.cs-widget-light.pb-1.mb-4
            h4.cs-widget-title Resources
            ul
              li: a(href='#').cs-widget-link About Around
              li: a(href='#').cs-widget-link Write
              li: a(href='#').cs-widget-link Help
              li: a(href='#').cs-widget-link Press contacts
              li: a(href='#').cs-widget-link Careers
              li: a(href='#').cs-widget-link Legal
      .col-md-4.ml-auto.mb-3
        .cs-widget.cs-widget-light.mb-4
          h4.cs-widget-title Don’t miss a single story
          p.font-size-sm.text-light.opacity-60 Subscribe to our newsletter to receive latest articles to your inbox weekly.
          form(action='https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;id=29ca296126' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate).cs-subscribe-form.validate
            .input-group.input-group-overlay.flex-nowrap
              .input-group-prepend-overlay
                span.input-group-text.text-muted
                  i.fe-mail
              input(type='email' name='EMAIL' placeholder='Your email').form-control.prepended-form-control
              .input-group-append
                button(type='submit' name='subscribe').btn.btn-primary Subscribe
            // real people should not fill this in and expect good things - do not remove this or risk form bot signups
            div(style='position: absolute; left: -5000px;' aria-hidden='true')
              input(type='text' name='b_c7103e2c981361a6639545bd5_29ca296126' tabindex='-1').cs-subscribe-form-antispam
            .cs-subscribe-status
  .bg-darker.py-4.py-md-3
    .container.d-md-flex.align-items-center.justify-content-between.pt-3
      .d-flex.flex-wrap.flex-sm-nowrap.order-md-2.mb-3.mb-md-0
        a(href='#' role='button').btn-market.btn-outline.btn-apple.mr-3.mb-3
          span.btn-market-subtitle Download on the
          span.btn-market-title App Store
        a(href='#' role='button').btn-market.btn-outline.btn-google.mb-3
          span.btn-market-subtitle Download on the
          span.btn-market-title Google Play
      .d-flex.flex-wrap.align-item-center.order-md-1
        a(href='index.html' style='width: 108px;').d-block.mr-grid-gutter.mb-3
          +image('logo/logo-footer.png', 'Around')
        p.font-size-sm.pt-2.mb-3
          span.text-light.opacity-50.mr-1 © All rights reserved. Made by
          a(href='https://createx.studio/' target='_blank' rel='noopener').nav-link-style.nav-link-light Createx Studio
