// Footer
footer.cs-footer.bg-dark.pt-5.pt-md-6
  .container.pt-3.pb-0.pt-md-0.pb-md-3
    .row.mb-4
      .col-md-4
        .cs-widget.cs-widget-light.pb-2.mb-4
          h4.cs-widget-title Shop departments
          ul
            li: a(href='#').cs-widget-link Closing
            li: a(href='#').cs-widget-link Shoes
            li: a(href='#').cs-widget-link Electronics
            li: a(href='#').cs-widget-link Accessories
            li: a(href='#').cs-widget-link Software
            li: a(href='#').cs-widget-link Automotive
      .col-md-4
        .cs-widget.cs-widget-light.pb-2.mb-4
          h4.cs-widget-title Customer zone
          ul
            li: a(href='#').cs-widget-link Your account
            li: a(href='#').cs-widget-link Shipping rates &amp; policies
            li: a(href='#').cs-widget-link Refunds &amp; replacements
            li: a(href='#').cs-widget-link Order tracking
            li: a(href='#').cs-widget-link Delivery info
            li: a(href='#').cs-widget-link Taxes &amp; fees
            li: a(href='#').cs-widget-link News
      .col-md-4
        .cs-widget.cs-widget-light.pb-3.mb-4
          h4.cs-widget-title Stay informed
          form(action='https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;id=29ca296126' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate).cs-subscribe-form.validate
            .input-group.input-group-overlay.flex-nowrap
              .input-group-prepend-overlay
                span.input-group-text.text-muted
                  i.fe-mail
              input(type='email' name='EMAIL' placeholder='Your email').form-control.prepended-form-control
              .input-group-append
                button(type='submit' name='subscribe').btn.btn-primary Subscribe*
            // real people should not fill this in and expect good things - do not remove this or risk form bot signups
            div(style='position: absolute; left: -5000px;' aria-hidden='true')
              input(type='text' name='b_c7103e2c981361a6639545bd5_29ca296126' tabindex='-1').cs-subscribe-form-antispam
            small.form-text.text-light.opacity-50.pt-1 *Subscribe to our newsletter to receive early discount offers, updates and new products info.
            .cs-subscribe-status
        .cs-widget.cs-widget-light.pt-1.mb-4
          h4.cs-widget-title Download our app
          .d-flex.flex-wrap.pt-1
            a(href='#' role='button').btn-market.btn-outline.btn-apple.mr-3.mb-3
              span.btn-market-subtitle Download on the
              span.btn-market-title App Store
            a(href='#' role='button').btn-market.btn-outline.btn-google.mb-3
              span.btn-market-subtitle Download on the
              span.btn-market-title Google Play
  .bg-darker.pt-2
    .container.py-sm-3
      .row.pb-4.mb-2.pt-5.py-md-5
        .col-md-3.col-sm-6.mb-4
          .media.align-items-center
            i.fe-truck.text-primary(style='font-size: 2.125rem;')
            .media-body.pl-3
              h6.font-size-base.text-light.mb-1 Fast and free delivery
              p.mb-0.font-size-xs.text-light.opacity-50 Free delivery for all orders over $200
        .col-md-3.col-sm-6.mb-4
          .media.align-items-center
            i.fe-refresh-cw.text-primary(style='font-size: 2.125rem;')
            .media-body.pl-3
              h6.font-size-base.text-light.mb-1 Money back guarantee
              p.mb-0.font-size-xs.text-light.opacity-50 We return money within 30 days
        .col-md-3.col-sm-6.mb-4
          .media.align-items-center
            i.fe-life-buoy.text-primary(style='font-size: 2.125rem;')
            .media-body.pl-3
              h6.font-size-base.text-light.mb-1 24/7 customer support
              p.mb-0.font-size-xs.text-light.opacity-50 Friendly 24/7 customer support
        .col-md-3.col-sm-6.mb-4
          .media.align-items-center
            i.fe-credit-card.text-primary(style='font-size: 2.125rem;')
            .media-body.pl-3
              h6.font-size-base.text-light.mb-1 Secure online payment
              p.mb-0.font-size-xs.text-light.opacity-50 We possess SSL / Secure сertificate
      hr.hr-light.mb-5
      .d-sm-flex.align-items-center.mb-4.pb-3
        .d-flex.flex-wrap.align-items-center.mr-3
          a(href='index.html' style='width: 108px;').d-block.mr-grid-gutter.mt-n1.mb-3
            +image('logo/logo-footer.png', 'Around')
          ul.list-inline.font-size-sm.pt-2.mb-3
            li.list-inline-item: a(href='#').nav-link-style.nav-link-light About
            li.list-inline-item: a(href='#').nav-link-style.nav-link-light Outlets
            li.list-inline-item: a(href='#').nav-link-style.nav-link-light Affiliates
            li.list-inline-item: a(href='#').nav-link-style.nav-link-light Support
            li.list-inline-item: a(href='#').nav-link-style.nav-link-light Terms of use
        .d-flex.pt-2.pt-sm-0.ml-auto
          a(href='#').social-btn.sb-twitter.sb-light.mr-2.mb-2
            i.fe-twitter
          a(href='#').social-btn.sb-facebook.sb-light.mr-2.mb-2
            i.fe-facebook
          a(href='#').social-btn.sb-instagram.sb-light.mr-2.mb-2
            i.fe-instagram
          a(href='#').social-btn.sb-pinterest.sb-light.mr-2.mb-2
            i.fe-pinterest
          a(href='#').social-btn.sb-youtube.sb-light.mb-2
            i.fe-youtube
      .d-sm-flex.justify-content-between.align-items-center.pb-4.pb-sm-2
        .order-sm-2.mb-4.mb-sm-3
          +image('footer/cards.png', 'Payment methods')(width='181')
        .order-sm-1.mb-3
          p.font-size-ms.mb-0
            span.text-light.opacity-50.mr-1 © All rights reserved. Made by
            a(href='https://createx.studio/' target='_blank' rel='noopener').nav-link-style.nav-link-light Createx Studio


