// Footer
footer.cs-footer.bg-dark.pt-5.pt-md-6
  .container.pt-3.pt-md-0
    .row.pb-3
      .col-md-4.mt-n2.pb-3.pb-md-0.mb-4
        a(href='index.html' style='width: 153px;').d-block.mb-3
          +image('logo/logo-footer-alt.png', 'Around')
        p.font-size-sm.text-light.opacity-60.pb-2.pb-sm-3 Highly customizable and modular official multipurpose Bootstrap template and UI kit.
        a(href='#').social-btn.sb-outline.sb-facebook.sb-light.sb-lg.mr-2.mb-2
          i.fe-facebook
        a(href='#').social-btn.sb-outline.sb-twitter.sb-light.sb-lg.mr-2.mb-2
          i.fe-twitter
        a(href='#').social-btn.sb-outline.sb-instagram.sb-light.sb-lg.mr-2.mb-2
          i.fe-instagram
        a(href='#').social-btn.sb-outline.sb-google.sb-light.sb-lg.mr-2.mb-2
          i.fe-google
      .col-md-2.col-sm-4.ml-auto.pb-1.mb-4
        .cs-widget.cs-widget-light
          h4.cs-widget-title Company
          ul
            li: a(href='#').cs-widget-link About
            li: a(href='#').cs-widget-link Careers
            li: a(href='#').cs-widget-link Press
      .col-lg-2.col-md-3.col-sm-4.pb-1.mb-4
        .cs-widget.cs-widget-light
          h4.cs-widget-title Communities
          ul
            li: a(href='#').cs-widget-link For artists
            li: a(href='#').cs-widget-link Developers
            li: a(href='#').cs-widget-link Brands
            li: a(href='#').cs-widget-link Investors
      .col-lg-2.col-md-3.col-sm-4.mb-4
        .cs-widget.cs-widget-light
          h4.cs-widget-title Our news
          ul
            li: a(href='#').cs-widget-link Latest news
            li: a(href='#').cs-widget-link Updates
            li: a(href='#').cs-widget-link Campaigns
    hr.border-light
    .row.align-items-center.my-3.pt-4
      .col-md-6.order-md-2.text-md-right.mb-3
        ul.list-inline.font-size-sm.mb-0
          li.list-inline-item: a(href='#').nav-link-style.nav-link-light Support
          li.list-inline-item: a(href='#').nav-link-style.nav-link-light Contacts
          li.list-inline-item: a(href='#').nav-link-style.nav-link-light Terms &amp; Conditions
      .col-md-6.order-md-1.mb-3
        p.font-size-sm.mb-0
          span.text-light.opacity-50.mr-1 © All rights reserved. Made by
          a(href='https://createx.studio/' target='_blank' rel='noopener').nav-link-style.nav-link-light Createx Studio
