// Search widget
.cs-widget.mb-5
  h3.cs-widget-title Search help
  .input-group-overlay
    .input-group-prepend-overlay
      span.input-group-text
        i.fe-search
    input(type='text' placeholder='Search').form-control.prepended-form-control

// Related articles
.cs-widget.mb-5
  h3.cs-widget-title Related articles
  ul
    li.d-flex
      i.fe-book.text-muted.mt-2.mr-2
      a(href='#').cs-widget-link How long will delivery take?
    li.d-flex
      i.fe-book.text-muted.mt-2.mr-2
      a(href='#').cs-widget-link What payment methods do you accept?
    li.d-flex
      i.fe-book.text-muted.mt-2.mr-2
      a(href='#').cs-widget-link Do you ship internationally?
    li.d-flex
      i.fe-book.text-muted.mt-2.mr-2
      a(href='#').cs-widget-link Do I need an account to place an order?
    li.d-flex
      i.fe-book.text-muted.mt-2.mr-2
      a(href='#').cs-widget-link How can I track my order?
    li.d-flex
      i.fe-book.text-muted.mt-2.mr-2
      a(href='#').cs-widget-link What are the product refund conditions?
    li.d-flex
      i.fe-book.text-muted.mt-2.mr-2
      a(href='#').cs-widget-link Do you have discounts for returning customers?
    li.d-flex
      i.fe-book.text-muted.mt-2.mr-2
      a(href='#').cs-widget-link How do your referral program work?
    li.d-flex
      i.fe-book.text-muted.mt-2.mr-2
      a(href='#').cs-widget-link Where I can view and download invoices for my orders?
    li.d-flex
      i.fe-book.text-muted.mt-2.mr-2
      a(href='#').cs-widget-link Do you provide technical support after the purchase?
