extends ../partials/layout-components

//- Override default config variables
append config
  - var vendorStyles = ['prismjs/themes/prism.css', 'prismjs/plugins/toolbar/prism-toolbar.css', 'prismjs/plugins/line-numbers/prism-line-numbers.css']
  - var vendorScripts = ['prismjs/components/prism-core.min.js', 'prismjs/components/prism-markup.min.js', 'prismjs/components/prism-clike.min.js', 'prismjs/components/prism-javascript.min.js', 'prismjs/components/prism-pug.min.js', 'prismjs/plugins/toolbar/prism-toolbar.min.js', 'prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js', 'prismjs/plugins/line-numbers/prism-line-numbers.min.js']
  - var pageTitle = 'Social buttons'
  - var pageSubtitle = 'Display links to your social network accounts with these icon buttons.'
  - var isPageTitleBadge = true
  - var anchorNav = [{'title': 'Type: solid', 'link': '#sb-type-solid'}, {'title': 'Type: outline', 'link': '#sb-type-outline'}, {'title': 'Round shape', 'link': '#sb-round'}, {'title': 'Sizing', 'link': '#sb-sizing'}, {'title': 'Light version', 'link': '#sb-light'}]
  
//- Page Content
block content

  // Type: solid
  section#sb-type-solid.pb-5.mb-md-2
    h2.h4.mb-3 Type: solid
    .card.border-0.box-shadow-lg
      .card-header
        ul(role='tablist').nav.nav-tabs.card-header-tabs
          li.nav-item
            a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
          li.nav-item
            a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
          li.nav-item
            a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
      .card-body
        .tab-content
          #result1.tab-pane.fade.show.active(role='tabpanel')
            a(href='#').social-btn.sb-facebook.mr-2.mb-2
              i.fe-facebook
            a(href='#').social-btn.sb-twitter.mr-2.mb-2
              i.fe-twitter
            a(href='#').social-btn.sb-instagram.mr-2.mb-2
              i.fe-instagram
            a(href='#').social-btn.sb-google.mr-2.mb-2
              i.fe-google
            a(href='#').social-btn.sb-linkedin.mr-2.mb-2
              i.fe-linkedin
            a(href='#').social-btn.sb-pinterest.mr-2.mb-2
              i.fe-pinterest
            a(href='#').social-btn.sb-tumblr.mr-2.mb-2
              i.fe-tumblr
            a(href='#').social-btn.sb-behance.mr-2.mb-2
              i.fe-behance
            a(href='#').social-btn.sb-dribbble.mr-2.mb-2
              i.fe-dribbble
            a(href='#').social-btn.sb-vk.mr-2.mb-2
              i.fe-vk
            a(href='#').social-btn.sb-odnoklassniki.mr-2.mb-2
              i.fe-odnoklassniki
            a(href='#').social-btn.sb-skype.mr-2.mb-2
              i.fe-skype
            a(href='#').social-btn.sb-hangouts.mr-2.mb-2
              i.fe-hangouts
            a(href='#').social-btn.sb-messenger.mr-2.mb-2
              i.fe-messenger
            a(href='#').social-btn.sb-viber.mr-2.mb-2
              i.fe-viber
            a(href='#').social-btn.sb-telegram.mr-2.mb-2
              i.fe-telegram
            a(href='#').social-btn.sb-youtube.mr-2.mb-2
              i.fe-youtube
            a(href='#').social-btn.sb-figma.mr-2.mb-2
              i.fe-figma
            a(href='#').social-btn.sb-vimeo.mr-2.mb-2
              i.fe-vimeo
            a(href='#').social-btn.sb-wechat.mr-2.mb-2
              i.fe-wechat
            a(href='#').social-btn.sb-github.mr-2.mb-2
              i.fe-github
            a(href='#').social-btn.sb-gitlab.mr-2.mb-2
              i.fe-gitlab
            a(href='#').social-btn.sb-paypal.mr-2.mb-2
              i.fe-paypal
            a(href='#').social-btn.sb-slack.mr-2.mb-2
              i.fe-slack
            a(href='#').social-btn.sb-trello.mr-2.mb-2
              i.fe-trello
            a(href='#').social-btn.sb-twitch.mr-2.mb-2
              i.fe-twitch
            a(href='#').social-btn.sb-rss.mr-2.mb-2
              i.fe-rss
          #html1.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-html').
                &lt;!-- Facebook --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-facebook&quot;&gt;
                  &lt;i class=&quot;fe-facebook&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Twitter --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-twitter&quot;&gt;
                  &lt;i class=&quot;fe-twitter&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Instagram --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-instagram&quot;&gt;
                  &lt;i class=&quot;fe-instagram&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Google --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-google&quot;&gt;
                  &lt;i class=&quot;fe-google&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- LinkedIn --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-linkedin&quot;&gt;
                  &lt;i class=&quot;fe-linkedin&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Pinterest --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-pinterest&quot;&gt;
                  &lt;i class=&quot;fe-pinterest&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Tumblr --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-tumblr&quot;&gt;
                  &lt;i class=&quot;fe-tumblr&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Behance --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-behance&quot;&gt;
                  &lt;i class=&quot;fe-behance&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Dribbble --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-dribbble&quot;&gt;
                  &lt;i class=&quot;fe-dribbble&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- VKontakte --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-vk&quot;&gt;
                  &lt;i class=&quot;fe-vk&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Odnoklassniki --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-odnoklassniki&quot;&gt;
                  &lt;i class=&quot;fe-odnoklassniki&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Skype --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-skype&quot;&gt;
                  &lt;i class=&quot;fe-skype&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Hangouts --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-hangouts&quot;&gt;
                  &lt;i class=&quot;fe-hangouts&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Messenger --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-messenger&quot;&gt;
                  &lt;i class=&quot;fe-messenger&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Viber --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-viber&quot;&gt;
                  &lt;i class=&quot;fe-viber&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Telegram --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-telegram&quot;&gt;
                  &lt;i class=&quot;fe-telegram&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- YouTube --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-youtube&quot;&gt;
                  &lt;i class=&quot;fe-youtube&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Figma --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-figma&quot;&gt;
                  &lt;i class=&quot;fe-figma&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Vimeo --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-vimeo&quot;&gt;
                  &lt;i class=&quot;fe-vimeo&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- WeChat --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-wechat&quot;&gt;
                  &lt;i class=&quot;fe-wechat&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- GitHub --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-github&quot;&gt;
                  &lt;i class=&quot;fe-github&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- GitLab --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-gitlab&quot;&gt;
                  &lt;i class=&quot;fe-gitlab&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- PayPal --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-paypal&quot;&gt;
                  &lt;i class=&quot;fe-paypal&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Slack --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-slack&quot;&gt;
                  &lt;i class=&quot;fe-slack&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Trello --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-trello&quot;&gt;
                  &lt;i class=&quot;fe-trello&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Twitch --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-twitch&quot;&gt;
                  &lt;i class=&quot;fe-twitch&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- RSS --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-rss&quot;&gt;
                  &lt;i class=&quot;fe-rss&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
          #pug1.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-pug').
                // Facebook
                a(href=&quot;#&quot;).social-btn.sb-facebook
                  i.fe-facebook

                // Twitter
                a(href=&quot;#&quot;).social-btn.sb-twitter
                  i.fe-twitter

                // Instagram
                a(href=&quot;#&quot;).social-btn.sb-instagram
                  i.fe-instagram

                // Google
                a(href=&quot;#&quot;).social-btn.sb-google
                  i.fe-google

                // LinkedIn
                a(href=&quot;#&quot;).social-btn.sb-linkedin
                  i.fe-linkedin

                // Pinterest
                a(href=&quot;#&quot;).social-btn.sb-pinterest
                  i.fe-pinterest

                // Tumblr
                a(href=&quot;#&quot;).social-btn.sb-tumblr
                  i.fe-tumblr

                // Behance
                a(href=&quot;#&quot;).social-btn.sb-behance
                  i.fe-behance

                // Dribbble
                a(href=&quot;#&quot;).social-btn.sb-dribbble
                  i.fe-dribbble

                // VKontakte
                a(href=&quot;#&quot;).social-btn.sb-vk
                  i.fe-vk

                // Odnoklassniki
                a(href=&quot;#&quot;).social-btn.sb-odnoklassniki
                  i.fe-odnoklassniki

                // Skype
                a(href=&quot;#&quot;).social-btn.sb-skype
                  i.fe-skype

                Hangouts
                a(href=&quot;#&quot;).social-btn.sb-hangouts
                  i.fe-hangouts

                // Messenger
                a(href=&quot;#&quot;).social-btn.sb-messenger
                  i.fe-messenger

                // Viber
                a(href=&quot;#&quot;).social-btn.sb-viber
                  i.fe-viber

                // Telegram
                a(href=&quot;#&quot;).social-btn.sb-telegram
                  i.fe-telegram

                // YouTube
                a(href=&quot;#&quot;).social-btn.sb-youtube
                  i.fe-youtube

                // Figma
                a(href=&quot;#&quot;).social-btn.sb-figma
                  i.fe-figma

                // Vimeo
                a(href=&quot;#&quot;).social-btn.sb-vimeo
                  i.fe-vimeo

                // WeChat
                a(href=&quot;#&quot;).social-btn.sb-wechat
                  i.fe-wechat

                // GitHub
                a(href=&quot;#&quot;).social-btn.sb-github
                  i.fe-github

                // GitLab
                a(href=&quot;#&quot;).social-btn.sb-gitlab
                  i.fe-gitlab

                // PayPal
                a(href=&quot;#&quot;).social-btn.sb-paypal
                  i.fe-paypal

                // Slack
                a(href=&quot;#&quot;).social-btn.sb-slack
                  i.fe-slack

                // Trello
                a(href=&quot;#&quot;).social-btn.sb-trello
                  i.fe-trello

                // Twitch
                a(href=&quot;#&quot;).social-btn.sb-twitch
                  i.fe-twitch

                // RSS
                a(href=&quot;#&quot;).social-btn.sb-rss
                  i.fe-rss

  // Type: outline
  section#sb-type-outline.pb-5.mb-md-2
    h2.h4.mb-3 Type: outline
    .card.border-0.box-shadow-lg
      .card-header
        ul(role='tablist').nav.nav-tabs.card-header-tabs
          li.nav-item
            a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
          li.nav-item
            a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
          li.nav-item
            a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
      .card-body
        .tab-content
          #result2.tab-pane.fade.show.active(role='tabpanel')
            a(href='#').social-btn.sb-outline.sb-facebook.mr-2.mb-2
              i.fe-facebook
            a(href='#').social-btn.sb-outline.sb-twitter.mr-2.mb-2
              i.fe-twitter
            a(href='#').social-btn.sb-outline.sb-instagram.mr-2.mb-2
              i.fe-instagram
            a(href='#').social-btn.sb-outline.sb-google.mr-2.mb-2
              i.fe-google
            a(href='#').social-btn.sb-outline.sb-linkedin.mr-2.mb-2
              i.fe-linkedin
            a(href='#').social-btn.sb-outline.sb-pinterest.mr-2.mb-2
              i.fe-pinterest
            a(href='#').social-btn.sb-outline.sb-tumblr.mr-2.mb-2
              i.fe-tumblr
            a(href='#').social-btn.sb-outline.sb-behance.mr-2.mb-2
              i.fe-behance
            a(href='#').social-btn.sb-outline.sb-dribbble.mr-2.mb-2
              i.fe-dribbble
            a(href='#').social-btn.sb-outline.sb-vk.mr-2.mb-2
              i.fe-vk
            a(href='#').social-btn.sb-outline.sb-odnoklassniki.mr-2.mb-2
              i.fe-odnoklassniki
            a(href='#').social-btn.sb-outline.sb-skype.mr-2.mb-2
              i.fe-skype
            a(href='#').social-btn.sb-outline.sb-hangouts.mr-2.mb-2
              i.fe-hangouts
            a(href='#').social-btn.sb-outline.sb-messenger.mr-2.mb-2
              i.fe-messenger
            a(href='#').social-btn.sb-outline.sb-viber.mr-2.mb-2
              i.fe-viber
            a(href='#').social-btn.sb-outline.sb-telegram.mr-2.mb-2
              i.fe-telegram
            a(href='#').social-btn.sb-outline.sb-youtube.mr-2.mb-2
              i.fe-youtube
            a(href='#').social-btn.sb-outline.sb-figma.mr-2.mb-2
              i.fe-figma
            a(href='#').social-btn.sb-outline.sb-vimeo.mr-2.mb-2
              i.fe-vimeo
            a(href='#').social-btn.sb-outline.sb-wechat.mr-2.mb-2
              i.fe-wechat
            a(href='#').social-btn.sb-outline.sb-github.mr-2.mb-2
              i.fe-github
            a(href='#').social-btn.sb-outline.sb-gitlab.mr-2.mb-2
              i.fe-gitlab
            a(href='#').social-btn.sb-outline.sb-paypal.mr-2.mb-2
              i.fe-paypal
            a(href='#').social-btn.sb-outline.sb-slack.mr-2.mb-2
              i.fe-slack
            a(href='#').social-btn.sb-outline.sb-trello.mr-2.mb-2
              i.fe-trello
            a(href='#').social-btn.sb-outline.sb-twitch.mr-2.mb-2
              i.fe-twitch
            a(href='#').social-btn.sb-outline.sb-rss.mr-2.mb-2
              i.fe-rss
          #html2.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-html').
                &lt;!-- Facebook --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-facebook&quot;&gt;
                  &lt;i class=&quot;fe-facebook&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Twitter --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-twitter&quot;&gt;
                  &lt;i class=&quot;fe-twitter&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Instagram --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-instagram&quot;&gt;
                  &lt;i class=&quot;fe-instagram&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Google --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-google&quot;&gt;
                  &lt;i class=&quot;fe-google&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- LinkedIn --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-linkedin&quot;&gt;
                  &lt;i class=&quot;fe-linkedin&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Pinterest --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-pinterest&quot;&gt;
                  &lt;i class=&quot;fe-pinterest&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Tumblr --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-tumblr&quot;&gt;
                  &lt;i class=&quot;fe-tumblr&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Behance --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-behance&quot;&gt;
                  &lt;i class=&quot;fe-behance&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Dribbble --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-dribbble&quot;&gt;
                  &lt;i class=&quot;fe-dribbble&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- VKontakte --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-vk&quot;&gt;
                  &lt;i class=&quot;fe-vk&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Odnoklassniki --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-odnoklassniki&quot;&gt;
                  &lt;i class=&quot;fe-odnoklassniki&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Skype --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-skype&quot;&gt;
                  &lt;i class=&quot;fe-skype&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Hangouts --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-hangouts&quot;&gt;
                  &lt;i class=&quot;fe-hangouts&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Messenger --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-messenger&quot;&gt;
                  &lt;i class=&quot;fe-messenger&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Viber --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-viber&quot;&gt;
                  &lt;i class=&quot;fe-viber&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Telegram --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-telegram&quot;&gt;
                  &lt;i class=&quot;fe-telegram&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- YouTube --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-youtube&quot;&gt;
                  &lt;i class=&quot;fe-youtube&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Figma --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-figma&quot;&gt;
                  &lt;i class=&quot;fe-figma&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Vimeo --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-vimeo&quot;&gt;
                  &lt;i class=&quot;fe-vimeo&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- WeChat --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-wechat&quot;&gt;
                  &lt;i class=&quot;fe-wechat&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- GitHub --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-github&quot;&gt;
                  &lt;i class=&quot;fe-github&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- GitLab --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-gitlab&quot;&gt;
                  &lt;i class=&quot;fe-gitlab&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- PayPal --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-paypal&quot;&gt;
                  &lt;i class=&quot;fe-paypal&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Slack --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-slack&quot;&gt;
                  &lt;i class=&quot;fe-slack&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Trello --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-trello&quot;&gt;
                  &lt;i class=&quot;fe-trello&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Twitch --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-twitch&quot;&gt;
                  &lt;i class=&quot;fe-twitch&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- RSS --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-rss&quot;&gt;
                  &lt;i class=&quot;fe-rss&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
          #pug2.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-pug').
                // Facebook
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-facebook
                  i.fe-facebook

                // Twitter
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-twitter
                  i.fe-twitter

                // Instagram
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-instagram
                  i.fe-instagram

                // Google
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-google
                  i.fe-google

                // LinkedIn
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-linkedin
                  i.fe-linkedin

                // Pinterest
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-pinterest
                  i.fe-pinterest

                // Tumblr
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-tumblr
                  i.fe-tumblr

                // Behance
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-behance
                  i.fe-behance

                // Dribbble
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-dribbble
                  i.fe-dribbble

                // VKontakte
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-vk
                  i.fe-vk

                // Odnoklassniki
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-odnoklassniki
                  i.fe-odnoklassniki

                // Skype
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-skype
                  i.fe-skype

                Hangouts
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-hangouts
                  i.fe-hangouts

                // Messenger
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-messenger
                  i.fe-messenger

                // Viber
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-viber
                  i.fe-viber

                // Telegram
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-telegram
                  i.fe-telegram

                // YouTube
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-youtube
                  i.fe-youtube

                // Figma
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-figma
                  i.fe-figma

                // Vimeo
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-vimeo
                  i.fe-vimeo

                // WeChat
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-wechat
                  i.fe-wechat

                // GitHub
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-github
                  i.fe-github

                // GitLab
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-gitlab
                  i.fe-gitlab

                // PayPal
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-paypal
                  i.fe-paypal

                // Slack
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-slack
                  i.fe-slack

                // Trello
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-trello
                  i.fe-trello

                // Twitch
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-twitch
                  i.fe-twitch

                // RSS
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-rss
                  i.fe-rss

  // Round shape
  section#sb-round.pb-5.mb-md-2
    h2.h4.mb-3 Round shape
    .card.border-0.box-shadow-lg
      .card-header
        ul(role='tablist').nav.nav-tabs.card-header-tabs
          li.nav-item
            a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
          li.nav-item
            a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
          li.nav-item
            a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
      .card-body
        .tab-content
          #result3.tab-pane.fade.show.active(role='tabpanel')
            a(href='#').social-btn.sb-round.sb-facebook.mr-2.mb-2
              i.fe-facebook
            a(href='#').social-btn.sb-round.sb-twitter.mr-2.mb-2
              i.fe-twitter
            a(href='#').social-btn.sb-round.sb-instagram.mr-2.mb-2
              i.fe-instagram
            a(href='#').social-btn.sb-round.sb-google.mr-2.mb-2
              i.fe-google
            a(href='#').social-btn.sb-round.sb-linkedin.mr-2.mb-2
              i.fe-linkedin
            a(href='#').social-btn.sb-round.sb-pinterest.mr-2.mb-2
              i.fe-pinterest
            a(href='#').social-btn.sb-round.sb-tumblr.mr-2.mb-2
              i.fe-tumblr
            a(href='#').social-btn.sb-round.sb-behance.mr-2.mb-2
              i.fe-behance
            a(href='#').social-btn.sb-round.sb-dribbble.mr-2.mb-2
              i.fe-dribbble
            a(href='#').social-btn.sb-round.sb-vk.mr-2.mb-2
              i.fe-vk
            a(href='#').social-btn.sb-round.sb-odnoklassniki.mr-2.mb-2
              i.fe-odnoklassniki
            a(href='#').social-btn.sb-round.sb-skype.mr-2.mb-2
              i.fe-skype
            a(href='#').social-btn.sb-round.sb-hangouts.mr-2.mb-2
              i.fe-hangouts
            a(href='#').social-btn.sb-round.sb-messenger.mr-2.mb-2
              i.fe-messenger
            a(href='#').social-btn.sb-round.sb-viber.mr-2.mb-2
              i.fe-viber
            a(href='#').social-btn.sb-round.sb-telegram.mr-2.mb-2
              i.fe-telegram
            a(href='#').social-btn.sb-round.sb-youtube.mr-2.mb-2
              i.fe-youtube
            a(href='#').social-btn.sb-round.sb-figma.mr-2.mb-2
              i.fe-figma
            a(href='#').social-btn.sb-round.sb-vimeo.mr-2.mb-2
              i.fe-vimeo
            a(href='#').social-btn.sb-round.sb-wechat.mr-2.mb-2
              i.fe-wechat
            a(href='#').social-btn.sb-round.sb-github.mr-2.mb-2
              i.fe-github
            a(href='#').social-btn.sb-round.sb-gitlab.mr-2.mb-2
              i.fe-gitlab
            a(href='#').social-btn.sb-round.sb-paypal.mr-2.mb-2
              i.fe-paypal
            a(href='#').social-btn.sb-round.sb-slack.mr-2.mb-2
              i.fe-slack
            a(href='#').social-btn.sb-round.sb-trello.mr-2.mb-2
              i.fe-trello
            a(href='#').social-btn.sb-round.sb-twitch.mr-2.mb-2
              i.fe-twitch
            a(href='#').social-btn.sb-round.sb-rss.mr-2.mb-2
              i.fe-rss
            .pt-2
            a(href='#').social-btn.sb-round.sb-outline.sb-facebook.mr-2.mb-2
              i.fe-facebook
            a(href='#').social-btn.sb-round.sb-outline.sb-twitter.mr-2.mb-2
              i.fe-twitter
            a(href='#').social-btn.sb-round.sb-outline.sb-instagram.mr-2.mb-2
              i.fe-instagram
            a(href='#').social-btn.sb-round.sb-outline.sb-google.mr-2.mb-2
              i.fe-google
            a(href='#').social-btn.sb-round.sb-outline.sb-linkedin.mr-2.mb-2
              i.fe-linkedin
            a(href='#').social-btn.sb-round.sb-outline.sb-pinterest.mr-2.mb-2
              i.fe-pinterest
            a(href='#').social-btn.sb-round.sb-outline.sb-tumblr.mr-2.mb-2
              i.fe-tumblr
            a(href='#').social-btn.sb-round.sb-outline.sb-behance.mr-2.mb-2
              i.fe-behance
            a(href='#').social-btn.sb-round.sb-outline.sb-dribbble.mr-2.mb-2
              i.fe-dribbble
            a(href='#').social-btn.sb-round.sb-outline.sb-vk.mr-2.mb-2
              i.fe-vk
            a(href='#').social-btn.sb-round.sb-outline.sb-odnoklassniki.mr-2.mb-2
              i.fe-odnoklassniki
            a(href='#').social-btn.sb-round.sb-outline.sb-skype.mr-2.mb-2
              i.fe-skype
            a(href='#').social-btn.sb-round.sb-outline.sb-hangouts.mr-2.mb-2
              i.fe-hangouts
            a(href='#').social-btn.sb-round.sb-outline.sb-messenger.mr-2.mb-2
              i.fe-messenger
            a(href='#').social-btn.sb-round.sb-outline.sb-viber.mr-2.mb-2
              i.fe-viber
            a(href='#').social-btn.sb-round.sb-outline.sb-telegram.mr-2.mb-2
              i.fe-telegram
            a(href='#').social-btn.sb-round.sb-outline.sb-youtube.mr-2.mb-2
              i.fe-youtube
            a(href='#').social-btn.sb-round.sb-outline.sb-figma.mr-2.mb-2
              i.fe-figma
            a(href='#').social-btn.sb-round.sb-outline.sb-vimeo.mr-2.mb-2
              i.fe-vimeo
            a(href='#').social-btn.sb-round.sb-outline.sb-wechat.mr-2.mb-2
              i.fe-wechat
            a(href='#').social-btn.sb-round.sb-outline.sb-github.mr-2.mb-2
              i.fe-github
            a(href='#').social-btn.sb-round.sb-outline.sb-gitlab.mr-2.mb-2
              i.fe-gitlab
            a(href='#').social-btn.sb-round.sb-outline.sb-paypal.mr-2.mb-2
              i.fe-paypal
            a(href='#').social-btn.sb-round.sb-outline.sb-slack.mr-2.mb-2
              i.fe-slack
            a(href='#').social-btn.sb-round.sb-outline.sb-trello.mr-2.mb-2
              i.fe-trello
            a(href='#').social-btn.sb-round.sb-outline.sb-twitch.mr-2.mb-2
              i.fe-twitch
            a(href='#').social-btn.sb-round.sb-outline.sb-rss.mr-2.mb-2
              i.fe-rss
          #html3.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-html').
                &lt;!-- Round solid button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-round sb-facebook&quot;&gt;
                  &lt;i class=&quot;fe-facebook&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Round outline button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-round sb-outline sb-facebook&quot;&gt;
                  &lt;i class=&quot;fe-facebook&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
          #pug3.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-pug').
                // Round solid button
                a(href=&quot;#&quot;).social-btn.sb-round.sb-facebook
                  i.fe-facebook
                // Round outline button
                a(href=&quot;#&quot;).social-btn.sb-round.sb-outline.sb-facebook
                  i.fe-facebook

  // Sizing
  section#sb-sizing.pb-5.mb-md-2
    h2.h4.mb-3 Sizing
    .card.border-0.box-shadow-lg
      .card-header
        ul(role='tablist').nav.nav-tabs.card-header-tabs
          li.nav-item
            a(href='#result4' data-toggle='tab' role='tab' aria-controls='result4' aria-selected='true').nav-link.active Result
          li.nav-item
            a(href='#html4' data-toggle='tab' role='tab' aria-controls='html4' aria-selected='false').nav-link HTML
          li.nav-item
            a(href='#pug4' data-toggle='tab' role='tab' aria-controls='pug4' aria-selected='false').nav-link Pug
      .card-body
        .tab-content
          #result4.tab-pane.fade.show.active(role='tabpanel')
            .d-inline-block.align-middle.mr-3.py-1
              a(href='#').social-btn.sb-dribbble.sb-lg.mr-2.align-middle
                i.fe-dribbble
              a(href='#').social-btn.sb-dribbble.mr-2.align-middle
                i.fe-dribbble
              a(href='#').social-btn.sb-dribbble.sb-sm.mr-2.align-middle
                i.fe-dribbble
            .d-inline-block.align-middle.py-1
              a(href='#').social-btn.sb-instagram.sb-outline.sb-lg.mr-2.align-middle
                i.fe-instagram
              a(href='#').social-btn.sb-instagram.sb-outline.mr-2.align-middle
                i.fe-instagram
              a(href='#').social-btn.sb-instagram.sb-outline.sb-sm.mr-2.align-middle
                i.fe-instagram
            .pt-3
            .d-inline-block.align-middle.mr-3.py-1
              a(href='#').social-btn.sb-skype.sb-round.sb-lg.mr-2.align-middle
                i.fe-skype
              a(href='#').social-btn.sb-skype.sb-round.mr-2.align-middle
                i.fe-skype
              a(href='#').social-btn.sb-skype.sb-round.sb-sm.mr-2.align-middle
                i.fe-skype
            .d-inline-block.align-middle.py-1
              a(href='#').social-btn.sb-pinterest.sb-round.sb-outline.sb-lg.mr-2.align-middle
                i.fe-pinterest
              a(href='#').social-btn.sb-pinterest.sb-round.sb-outline.mr-2.align-middle
                i.fe-pinterest
              a(href='#').social-btn.sb-pinterest.sb-round.sb-outline.sb-sm.mr-2.align-middle
                i.fe-pinterest
          #html4.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-html').
                &lt;!-- Solid large button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-dribbble sb-lg&quot;&gt;
                  &lt;i class=&quot;fe-dribbble&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Solid medium button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-dribbble&quot;&gt;
                  &lt;i class=&quot;fe-dribbble&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Solid small button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-dribbble sb-sm&quot;&gt;
                  &lt;i class=&quot;fe-dribbble&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Outline large button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-instagram sb-outline sb-lg&quot;&gt;
                  &lt;i class=&quot;fe-instagram&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                
                &lt;!-- Outline medium button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-instagram sb-outline&quot;&gt;
                  &lt;i class=&quot;fe-instagram&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Outline small button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-instagram sb-outline sb-sm&quot;&gt;
                  &lt;i class=&quot;fe-instagram&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Round solid large button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-skype sb-round sb-lg&quot;&gt;
                  &lt;i class=&quot;fe-skype&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Round solid medium button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-skype sb-round&quot;&gt;
                  &lt;i class=&quot;fe-skype&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Round solid small button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-skype sb-round sb-sm&quot;&gt;
                  &lt;i class=&quot;fe-skype&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Round outline large button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-pinterest sb-round sb-outline sb-lg&quot;&gt;
                  &lt;i class=&quot;fe-pinterest&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Round outline medium button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-pinterest sb-round sb-outline&quot;&gt;
                  &lt;i class=&quot;fe-pinterest&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Round outline small button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-pinterest sb-round sb-outline sb-sm&quot;&gt;
                  &lt;i class=&quot;fe-pinterest&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
          #pug4.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-pug').
                // Solid large button
                a(href=&quot;#&quot;).social-btn.sb-dribbble.sb-lg
                  i.fe-dribbble

                // Solid medium button
                a(href=&quot;#&quot;).social-btn.sb-dribbble
                  i.fe-dribbble

                // Solid small button
                a(href=&quot;#&quot;).social-btn.sb-dribbble.sb-sm
                  i.fe-dribbble
                
                // Outline large button
                a(href=&quot;#&quot;).social-btn.sb-instagram.sb-outline.sb-lg
                  i.fe-instagram
                
                // Outline medium button
                a(href=&quot;#&quot;).social-btn.sb-instagram.sb-outline
                  i.fe-instagram
                
                // Outline small button
                a(href=&quot;#&quot;).social-btn.sb-instagram.sb-outline.sb-sm
                  i.fe-instagram
                
                // Round solid large button
                a(href=&quot;#&quot;).social-btn.sb-skype.sb-round.sb-lg
                  i.fe-skype
                
                // Round solid medium button
                a(href=&quot;#&quot;).social-btn.sb-skype.sb-round
                  i.fe-skype
                
                // Round solid small button
                a(href=&quot;#&quot;).social-btn.sb-skype.sb-round.sb-sm
                  i.fe-skype
                
                // Round outline large button
                a(href=&quot;#&quot;).social-btn.sb-pinterest.sb-round.sb-outline.sb-lg
                  i.fe-pinterest
                
                // Round outline medium button
                a(href=&quot;#&quot;).social-btn.sb-pinterest.sb-round.sb-outline
                  i.fe-pinterest
                
                // Round outline small button
                a(href=&quot;#&quot;).social-btn.sb-pinterest.sb-round.sb-outline.sb-sm
                  i.fe-pinterest

  // Light version
  section#sb-light.pb-5.mb-md-2
    h2.h4.mb-3 Light version
    .card.border-0.box-shadow-lg
      .card-header
        ul(role='tablist').nav.nav-tabs.card-header-tabs
          li.nav-item
            a(href='#result5' data-toggle='tab' role='tab' aria-controls='result5' aria-selected='true').nav-link.active Result
          li.nav-item
            a(href='#html5' data-toggle='tab' role='tab' aria-controls='html5' aria-selected='false').nav-link HTML
          li.nav-item
            a(href='#pug5' data-toggle='tab' role='tab' aria-controls='pug5' aria-selected='false').nav-link Pug
      .card-body
        .tab-content
          #result5.tab-pane.bg-dark.pt-5.px-4.pb-4.m-n4.fade.show.active(role='tabpanel')
            a(href='#').social-btn.sb-facebook.sb-light.mr-2.mb-2
              i.fe-facebook
            a(href='#').social-btn.sb-twitter.sb-light.mr-2.mb-2
              i.fe-twitter
            a(href='#').social-btn.sb-instagram.sb-light.mr-2.mb-2
              i.fe-instagram
            a(href='#').social-btn.sb-google.sb-light.mr-2.mb-2
              i.fe-google
            a(href='#').social-btn.sb-linkedin.sb-light.mr-2.mb-2
              i.fe-linkedin
            a(href='#').social-btn.sb-pinterest.sb-light.mr-2.mb-2
              i.fe-pinterest
            a(href='#').social-btn.sb-tumblr.sb-light.mr-2.mb-2
              i.fe-tumblr
            a(href='#').social-btn.sb-behance.sb-light.mr-2.mb-2
              i.fe-behance
            a(href='#').social-btn.sb-dribbble.sb-light.mr-2.mb-2
              i.fe-dribbble
            a(href='#').social-btn.sb-vk.sb-light.mr-2.mb-2
              i.fe-vk
            a(href='#').social-btn.sb-odnoklassniki.sb-light.mr-2.mb-2
              i.fe-odnoklassniki
            a(href='#').social-btn.sb-skype.sb-light.mr-2.mb-2
              i.fe-skype
            a(href='#').social-btn.sb-hangouts.sb-light.mr-2.mb-2
              i.fe-hangouts
            a(href='#').social-btn.sb-messenger.sb-light.mr-2.mb-2
              i.fe-messenger
            a(href='#').social-btn.sb-viber.sb-light.mr-2.mb-2
              i.fe-viber
            a(href='#').social-btn.sb-telegram.sb-light.mr-2.mb-2
              i.fe-telegram
            a(href='#').social-btn.sb-youtube.sb-light.mr-2.mb-2
              i.fe-youtube
            a(href='#').social-btn.sb-figma.sb-light.mr-2.mb-2
              i.fe-figma
            a(href='#').social-btn.sb-vimeo.sb-light.mr-2.mb-2
              i.fe-vimeo
            a(href='#').social-btn.sb-wechat.sb-light.mr-2.mb-2
              i.fe-wechat
            a(href='#').social-btn.sb-github.sb-light.mr-2.mb-2
              i.fe-github
            a(href='#').social-btn.sb-gitlab.sb-light.mr-2.mb-2
              i.fe-gitlab
            a(href='#').social-btn.sb-paypal.sb-light.mr-2.mb-2
              i.fe-paypal
            a(href='#').social-btn.sb-slack.sb-light.mr-2.mb-2
              i.fe-slack
            a(href='#').social-btn.sb-trello.sb-light.mr-2.mb-2
              i.fe-trello
            a(href='#').social-btn.sb-twitch.sb-light.mr-2.mb-2
              i.fe-twitch
            a(href='#').social-btn.sb-rss.sb-light.mr-2.mb-2
              i.fe-rss
            .pt-3
            a(href='#').social-btn.sb-outline.sb-facebook.sb-light.mr-2.mb-2
              i.fe-facebook
            a(href='#').social-btn.sb-outline.sb-twitter.sb-light.mr-2.mb-2
              i.fe-twitter
            a(href='#').social-btn.sb-outline.sb-instagram.sb-light.mr-2.mb-2
              i.fe-instagram
            a(href='#').social-btn.sb-outline.sb-google.sb-light.mr-2.mb-2
              i.fe-google
            a(href='#').social-btn.sb-outline.sb-linkedin.sb-light.mr-2.mb-2
              i.fe-linkedin
            a(href='#').social-btn.sb-outline.sb-pinterest.sb-light.mr-2.mb-2
              i.fe-pinterest
            a(href='#').social-btn.sb-outline.sb-tumblr.sb-light.mr-2.mb-2
              i.fe-tumblr
            a(href='#').social-btn.sb-outline.sb-behance.sb-light.mr-2.mb-2
              i.fe-behance
            a(href='#').social-btn.sb-outline.sb-dribbble.sb-light.mr-2.mb-2
              i.fe-dribbble
            a(href='#').social-btn.sb-outline.sb-vk.sb-light.mr-2.mb-2
              i.fe-vk
            a(href='#').social-btn.sb-outline.sb-odnoklassniki.sb-light.mr-2.mb-2
              i.fe-odnoklassniki
            a(href='#').social-btn.sb-outline.sb-skype.sb-light.mr-2.mb-2
              i.fe-skype
            a(href='#').social-btn.sb-outline.sb-hangouts.sb-light.mr-2.mb-2
              i.fe-hangouts
            a(href='#').social-btn.sb-outline.sb-messenger.sb-light.mr-2.mb-2
              i.fe-messenger
            a(href='#').social-btn.sb-outline.sb-viber.sb-light.mr-2.mb-2
              i.fe-viber
            a(href='#').social-btn.sb-outline.sb-telegram.sb-light.mr-2.mb-2
              i.fe-telegram
            a(href='#').social-btn.sb-outline.sb-youtube.sb-light.mr-2.mb-2
              i.fe-youtube
            a(href='#').social-btn.sb-outline.sb-figma.sb-light.mr-2.mb-2
              i.fe-figma
            a(href='#').social-btn.sb-outline.sb-vimeo.sb-light.mr-2.mb-2
              i.fe-vimeo
            a(href='#').social-btn.sb-outline.sb-wechat.sb-light.mr-2.mb-2
              i.fe-wechat
            a(href='#').social-btn.sb-outline.sb-github.sb-light.mr-2.mb-2
              i.fe-github
            a(href='#').social-btn.sb-outline.sb-gitlab.sb-light.mr-2.mb-2
              i.fe-gitlab
            a(href='#').social-btn.sb-outline.sb-paypal.sb-light.mr-2.mb-2
              i.fe-paypal
            a(href='#').social-btn.sb-outline.sb-slack.sb-light.mr-2.mb-2
              i.fe-slack
            a(href='#').social-btn.sb-outline.sb-trello.sb-light.mr-2.mb-2
              i.fe-trello
            a(href='#').social-btn.sb-outline.sb-twitch.sb-light.mr-2.mb-2
              i.fe-twitch
            a(href='#').social-btn.sb-outline.sb-rss.sb-light.mr-2.mb-2
              i.fe-rss
          #html5.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-html').
                &lt;!-- Solid light button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-facebook sb-light&quot;&gt;
                  &lt;i class=&quot;fe-facebook&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Outline light button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;social-btn sb-outline sb-facebook sb-light&quot;&gt;
                  &lt;i class=&quot;fe-facebook&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
          #pug5.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-pug').
                // Solid light button
                a(href=&quot;#&quot;).social-btn.sb-facebook.sb-light
                  i.fe-facebook

                // Outline light button
                a(href=&quot;#&quot;).social-btn.sb-outline.sb-facebook.sb-light
                  i.fe-facebook
